<div class="containers">
  <img src="../assets/Front-bg.png" style="width:100%;">
  <div class="top-left">
    <img src="../assets/logo.jpeg" alt="" class="img-fluid bg-img">
    <p class="hori-line">________</p>
  </div>
  <div class="top-right">
    <ul>
      <li><a href="#" class="active">Home</a></li>
      <li><a href="#">Features</a></li>
      <li><a href="#">Why Us</a></li>
    </ul>
  </div>
  <div class="top-left">
    <p class="head1-para">we create applications</p>
    <p class="head1-para2">with excellent technology.</p>

    <p class="small-para1">it is a long established fact that a reader will be distracted by the</p>
    <p class="small-paar2">readable content of a page when looking at its layout. the point</p>
    <p class="small-para3">of using lorem ipsum is that it has.</p>

    <div class="play-img">
      <img src="../assets/googleplay.jpg" alt="" class="img-fluid gplay">
      &nbsp;
      <img src="../assets/apple.png" alt="" class="img-fluid aplay">
    </div>
    <div class="imgs">
      <img src="../assets/map-img.png" alt="" class="img-fluid map-img">
      &nbsp;
      <img src="../assets/truck-with-icon.jpeg" alt="" class="img-fluid truck-img">
      &nbsp;
      <img src="../assets/map1.jpeg" alt="" class="img-fluid map1-img">
    </div>
  </div>
</div>
<!-- Header Section End -->
<div class="middle-section" style="background-color: rgba(250,249,255,255);">
  <p class="mid-para1">we provide various kind of</p>
  <p class="mid-para2">service for you</p>

  <p class="mid-small-para1">it is a long established fact that a reader will be distracted by the</p>
  <p class="mid-small-para2">readable content of a page when looking at its layout. the point of using</p>
  <br>
  <div class="mid-images">
    <div class="easy-book-sec">
      <img src="../assets/easy-book.png" alt="" class="img-fluid img-easy-book">
      <p class="easy-head">easy booking</p>
      <p class="easy-para">it is a long established fact that a reader will be distracted by the readable content of a
      </p>
    </div>
    <br>
    <div class="live-track-sec">
      <img src="../assets/live-track.jpeg" alt="" class="img-fluid img-live-track">
      <p class="easy-head">live tracking</p>
      <p class="easy-para">it is a long established fact that a reader will be distracted by the readable content of a
      </p>
    </div>
    <br>
    <div class="cuto-service-sec">
      <img src="../assets/cust-service.png" alt="" class="img-fluid img-cuto-service">
      <p class="cuto-service-head">excellent service</p>
      <p class="easy-para">it is a long established fact that a reader will be distracted by the readable content of a
      </p>
    </div>
  </div>
  <!-- Middle Section End -->
  <div class="sub-mid-sec" style="background-color: rgba(250,249,255,255);">
    <p class="submid-para">why us</p>
    <p class="mid-small-para1">it is a long established fact that a reader will be distracted by the</p>
    <p class="mid-small-para2">readable content of a page when looking at its layout. the point of using</p>

    <img src="../assets/submid-bg.png" alt="" class="img-fluid submid-img">
    <p class="submid-para1">built the app that</p>
    <p class="submid-para2">everyone love</p>
    <p class="submid-subpara1">It Is A Long Established Fact That A Reader Will Be Distracted By The</p>

    <p class="submid-subpara2"> Readable Content Of A Page When Looking At Its Layout. The Point

      Of</p>
    <p class="submid-subpara2">Using Lorem Ipsum Is That It Has A More-Or-Less Normal Distribution Of</p>
    <br>
    <p class="submid-subpara1">It Is A Long Established Fact That A Reader Will Be Distracted By The</p>
    <p class="submid-subpara2"> Readable Content Of A Page When Looking At Its Layout. The Point
      Of</p>
    <button class="get-more-btn">get more &nbsp;&nbsp;<i class="fa-solid fa-right-long"></i></button>
  </div>
  <!-- Sub Middle Section End -->
</div>
<br><br><br><br><br><br><br><br><br><br><br>
<div class="last-sec">

  <div class="footer-section">
    <div class="contact-section">
      <p class="contact-para">contact us!</p>

      <p class="contact-sub-para1">but the majority have suffered alteration</p>
      <p class="contact-sub-para">There are many validation of passages of lorem ipsum</p>
      <p class="input-field"><input type="text" placeholder="Email here" class="cont-input"></p>
      <p class="send-btn"><button class="last-btn">send</button></p>
    </div>
    <br>
    <div class="foot-logo">
      <img src="../assets/footer-logo.jpeg" alt="" class="img-fluid foot-logo">
    </div>
    <div class="social-icon">
      <p class="fb-icon"><i class="fa-brands fa-facebook"></i></p>
      <p><i class="fa-brands fa-twitter"></i></p>
      <p><i class="fa-brands fa-linkedin-in"></i></p>
      <p><i class="fa-brands fa-pinterest-p"></i></p>
      <!-- <br><br><br><br><br><br><br><br><br><br><br> -->
    </div>
    <div class="footer-link-sec">
      <div class="link-section">
        <p class="link-head">Links</p>
        <p class="link-home-para">Home</p>
        <p class="link-price-para">Pricing</p>
        <p class="link-price-para">Download</p>
        <p class="link-price-para">About</p>
        <p class="link-price-para">Services</p>
      </div>
      <div class="support-section">
        <p class="support-head">Support</p>
        <p class="suport-faq-para">FAQ</p>
        <p class="suport-how-para">How it</p>
        <p class="suport-how-para">Features</p>
        <p class="suport-how-para">Contact</p>
        <p class="suport-how-para">Reporting</p>
      </div>
      <div class="support-section">
        <p class="support-head">Contact Us</p>
        <p class="suport-faq-para"><i class="fa-regular fa-envelope"></i>&nbsp;&nbsp;lynx.holding.group@gmail.com</p>
        <p class="suport-how-para"><i class="fa fa-light fa-phone-volume"></i>&nbsp;&nbsp;+1 (321)900-5888</p>
        <p class="suport-how-para"><i class="fa fa-light fa-location-dot"></i>&nbsp;&nbsp;3343 Forton Dr,Orlando,
          Florida,<br><span style="margin-left: 18px;">USA,32824</span></p>
      </div>
      <div class="download-section">
        <p class="download-head">Download Now</p>
        <p class="download-para"><img src="../assets/download.jpeg" alt="" class="img-fluid"></p>
      </div>
    </div>
    <!-- Footer Link Section End -->
    <p class="copyright-para">&copy; Copyright 2022 All Right Reserved</p>
    <p class="terms">Terms of use &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span><b>|</b></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Privacy
      Policy
    </p>

  </div>
</div>
<router-outlet></router-outlet>